/*
:root {
  --primary-bg-color: #004444;
  --primary-txt-color: lightcyan;
  --secondary-bg-color: darkcyan;
  --secondary-txt-color: cyan;
  --shadow-main: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0,0,0,.12);
}
*/

* {
box-sizing: border-box;
}

.my-card-content {
  padding: 16px;
}

a {
  /*
  color: var(--secondary-bg-color);
  background-color: var(--primary-txt-color);
  text-shadow: 1px 1px #00e6e6;
  padding: .1rem;
  border-radius: .2rem;
  opacity: .9;
  */
  color: inherit;
  text-decoration-line: none;
}

/*
body {
  font-family: sans-serif;
  background-color: var(--primary-bg-color);
  color: lightcyan;
  font-weight: bolder;
}



section {
  background-color: var(--secondary-bg-color);
  box-shadow: var(--shadow-main);
  padding-left: 1rem;
  border-radius: .2rem;
  padding-bottom: 2vh;
}

button {
  color: var(--secondary-bg-color);
  box-shadow: var(--shadow-main);
  background-color: var(--primary-txt-color);
  border: none;
  font-size: large;
  padding: .4rem;
  border-radius: .2rem;
}

ul {
list-style-type: circle;
}

ul li {
margin: .3rem;
}

.grid-container {
  display: grid;
  grid-gap: 1.4vw;
  grid-template-columns: repeat(auto-fill, 35vh);
}
*/
