/*
:root {
  --primary-bg-color: #004444;
  --primary-txt-color: lightcyan;
  --secondary-bg-color: darkcyan;
  --secondary-txt-color: cyan;
  --shadow-main: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0,0,0,.12);
}
*/

/* Google icons
*/

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/static/icons/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(/static/icons/MaterialIcons-Regular.woff2) format('woff2'),
    url(/static/icons/MaterialIcons-Regular.woff) format('woff'),
    url(/static/icons/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}

/* Google icons end
*/

* {
box-sizing: border-box;
}

.my-card-content {
  padding: 16px;
}

a {
  /*
  color: var(--secondary-bg-color);
  background-color: var(--primary-txt-color);
  text-shadow: 1px 1px #00e6e6;
  padding: .1rem;
  border-radius: .2rem;
  opacity: .9;
  */
  color: inherit;
  text-decoration-line: none;
}

main {
  width: 100%;
  transform-origin: bottom;
  transition: all .6s;
  position: absolute;
}

#rssreadercontainer {
  transform-origin: bottom;
  transition: all .6s;
}

.slideUp {
  transform: translateY(-150vh);
}

/*
body {
  font-family: sans-serif;
  background-color: var(--primary-bg-color);
  color: lightcyan;
  font-weight: bolder;
}



section {
  background-color: var(--secondary-bg-color);
  box-shadow: var(--shadow-main);
  padding-left: 1rem;
  border-radius: .2rem;
  padding-bottom: 2vh;
}

button {
  color: var(--secondary-bg-color);
  box-shadow: var(--shadow-main);
  background-color: var(--primary-txt-color);
  border: none;
  font-size: large;
  padding: .4rem;
  border-radius: .2rem;
}

ul {
list-style-type: circle;
}

ul li {
margin: .3rem;
}

.grid-container {
  display: grid;
  grid-gap: 1.4vw;
  grid-template-columns: repeat(auto-fill, 35vh);
}
*/
